.app-bar{
    background-repeat: repeat-x;
    background-position  : bottom;
    background-image: url(https://d1icd6shlvmxi6.cloudfront.net/gsc/T2Y1HZ/e0/d2/9d/e0d29de844d349a69fa8cd8f5177cce6/images/loginerror_preeventavailable/u40.png?token=04f401793f7849ddc44400fd20ef77d15f2041353b76360d02b4b007ddfcced9);
    background-size: 300px;
    margin-bottom: 40px;
}