.info-header{
    font-family: 'OpenSans-Bold', 'Open Sans Bold', 'Open Sans', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 28px;
    color: #DD817B;
    text-align: left;
    font-weight: bold;;
}